.bundle
db/*.sqlite3
log/*.log
tmp/**/*

log/translate/*
tmp/*
tmp/**/*
.DS_Store
config/database.yml
coverage/*
public/system
mkmf.log
webrat-*.html
.rvmrc
public/words/*
public/test.html
rerun.txt
config/locales/log/*
config/initializers/mailer.rb
