<h1>Users#destroy</h1>
<p>Find me in app/views/users/destroy.html.erb</p>

<h3>Are you sure?</h3>
<% form_for current_user, :html => { :method => :delete, :class => "delete_user" } do |f| %>
  <%= submit_tag "Yes"%>
<% end %>