%h2= t("users.show.title", :name => @user.nick_or_email)

#profile 
  %p= t("users.show.blurb")
  %ol.knots.unread
    = render :partial => 'knots/knot', :collection => @user.knots.unread, :locals => { :actions => false}
  %ol.knots.read
    = render :partial => 'knots/knot', :collection => @user.knots.read, :locals => { :actions => false}