#home
  .toolbar
    %h1 Filo
    %a.button.flip{ :href => "#settings"} Settings
  
  %div
    %ul
      = render :partial => "knot", :collection =>  @knots.unread
        
    %ul.individual
      %li
        %a.slideup{ :href => "#read"} Archive
      %li
        %a.slideup{ :href => "#about"} About

    %div.info
      %p Last knot created yesterday
      
#about
  .toolbar
    %h1 About
    %a.button.back{ :href =>"#"} Back
  %div
    %p The line that joins your dots
    
#read
  .toolbar
    %h1 Archive
    %a.button.back{ :href =>"#"} Back
  %div
    %ul
      = render :partial => "knot", :collection =>  @knots.read
                
#settings
  .toolbar
    %h1 Settings
    %a.button.cancel{ :href => "#" } Cancel
  %div
    %ul
