#signup_error
  .toolbar
    %h1 User created
    %a.button.back{ :href => "#"} Back
  .info
    A confirmation email has been sent to #{h @user.email}.
    
    It contains instructions for confirming your account.