
%h3 How it works
%ol.about
  %li You find something interesting that you cannot read just now
  %li We keep it safe and let you access them whenever you want. From your browser, your news reader or your iPhone
%p 
  = link_to "Sign up", sign_up_path
  to get started or
  = link_to "Sign in", sign_in_path
  to access your knots