
%h3 How it works
%ol
	%li You find something interesting that you cannot read just now
	%li We keep it safe and let you access them whenever you want. From your browser, your news reader or your iPhone