
%h3 Funziona così
%ol.about
  %li Tu trovi qualcosa sul web che ti interessa ma non puoi leggere ora
  %li Noi lo custodiamo con cura per te, per quando vorrai leggerlo; dal tuo browser, aggregatore, o dal tuo iPhone.

%p
  = link_to "Registrati", new_user_registration_path
  per cominciare o 
  = link_to "entra", new_user_session_path
  per accedere ai tuoi nodi 