
%h3 bookmarklets

%p We thought of a number of devices to help you speed up and get the most out of your experience with Filo.

%p 
  Here, for example, are the bookmarklets that you can use to automate the most common tasks:
  %ul
    %li 
      = link_to "Filo it!", read_later_bookmarklet
      to save web pages to Filo so that you can read them later
    %li 
      = link_to "Read Next", pop_bookmarklet
      to automatically go to the next saved page from your Filo
    %li
      = link_to "My Filo", filo_bookmarklet
      to go to your Filo dashboard
      
%p to use a bookmarklet, just drag it to your bookmarks bar, and click it whenever you want to use it.