#footer
  %p
    = t("layouts._footer.blurb").html_safe
  %span#links
    = link_to t("layouts._footer.link_home"), "http://github.com/bru/filo"
    \&bull; 
    = link_to t("layouts._footer.link_issues"), "http://github.com/bru/filo/issues" 
    \&bull; 
    = mail_to "bru@codewitch.org", "bru@codewitch.org", :encode => "javascript"