#header
  #usermenu
    = render :partial => '/layouts/user_nav'
  #logo
    %h1
      Filo
      %span#dot0.dot .
      %span#dot1.dot .
      %span#dot2.dot .
      %span#dot3.dot .
      %span#dot4.dot .
      %span#dot5.dot .
    %span#subtitle= t "layouts._header.subtitle"
