!!! Strict
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title
      Filo
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
    -# %link{:href => "/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}/
    %script{:type => "text/javascript", :src => "http://www.google.com/jsapi"}
    %script{:type => "text/javascript"}
      google.load("jquery", "1.4.2");
    = stylesheet_link_tag "jqtouch/jqtouch.css", "jqtouch/jqt/theme.css"
    = javascript_include_tag "jqtouch/jqtouch.js", "iphone.js"
    
  %body
    #jqt
      = yield
